@import "variables";

#one{
   background-color: $black;
   height: auto;
   color:$withe;
   font-family: 'Lato';
   margin: 0 auto;
    padding: 20px;

   p{
    margin: 0 auto;
    text-align: left;
    padding-bottom: 50px;
    color: $withe;
    line-height: 25px;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: $font-size;
  }
  h2{
   font-family: $titlefont;
   font-weight: lighter;
   font-size: $titlesize;
   letter-spacing: 10px;
   margin-top: 0px;
 }

}
